*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* DEBUG */

.color-grey{
    background-color: #d3d3d3;
}

.color-darkgrey{
    background-color: #23272a;
}


.navbar.debug .row{
    background-color: #daa520;
    height: 50px;
}

.navbar.debug{
    background-color: #add8e6;
}

.navbar.debug .row{
    /* background-color: blueviolet; */
}

.navbar.debug .logo, .navbar .login{
    /* background-color: green; */
}

.navbar.debug .navbar-nav{
    /* background-color: orange; */
}


.jumbotron.debug {
    background-color: #00008b;
}

.jumbotron.debug .row .jumbotron-container{
    min-height: 500px;
    background-color: #ee82ee;
}


.debug .col-4x{
    background-color: #1e90ff;
    min-height: 100px;
    border: 1px dashed black;
    height: 400px;
}

.debug .col-2x{
    background-color:#ffc0cb;
    min-height: 100px;
    border: 1px dashed black;
    height: 400px;
}

.debug .col-1x{
    background-color: #20b2aa;
    min-height: 100px;
    border: 1px dashed black;
    height: 400px;
}

.footer-bottom.debug  .col-1x{
    height: auto;
}



.debug .block-container{
    background-color: #228b22;
    height: 600px;
}

.debug.footer-bottom .row{
    background-color: #7fffd4;
}


/* END DEBUG */


/* COLORS */

.bg-gray{background-color: gainsboro;}
.bg-dark{background-color: #23272a;}

.text-dark{color: #23272a;}
.text-light{color: white;}

/* GLOBAL ROW AND COLUMNS */

.v-spacing{
    padding: 50px 0px;
}

.block-row{ /* Display Block Row */
    max-width: 1170px;
    margin: auto;
}

.row{ /* Display Flex Row */
    display: flex;
    max-width: 1170px;
    margin: auto;
}


.col-1x{
    width: calc(100% / 6);
}

.col-2x{
    width: calc(100% / 6 * 2);
}

.col-4x{
    width: calc(100% / 6 * 4);
}

.margin-dx-1{margin-right: 5px;}
.margin-dx-2{margin-right: 10px;}
.margin-dx-3{margin-right: 15px;}

.margin-sx-1{margin-right: 5px;}
.margin-sx-2{margin-right: 10px;}
.margin-sx-3{margin-right: 15px;}

/* CONTROLS */

.btn{
    padding: 8px 15px;
    border-radius: 22px;
    text-decoration: none;
    font-size: .8em;
}

.btn.btn-lg{
    font-size: 1.1em;
    padding: 10px 25px;
}

.btn.btn-light{
    background-color: white;
    color: #23272a;
}

.btn.btn-dark{
    background-color: #23272a;
    color: white;
}

/* TYPOGRAPHY */

.heading-1{
    padding-bottom: 25px;
    font-size: 2.5em;
}

/* ICONS */



/* HEDAER */

header{
    background-color: #255ee9;
}

/* NAVBAR */

.navbar{
    padding: 20px 0px;
}

.navbar .row{
    justify-content: space-between;
    align-items: center;
}

.navbar .logo, .navbar .login{
    width: 20%;
}

.navbar .navbar-nav{
    width: 60%;
    text-align: center;
}

.navbar-nav ul{
    list-style-type: none;
}

.navbar-nav ul li{
    display: inline-block;
}

.navbar-nav ul li a{
    text-decoration: none;
    padding: 2px 10px;
    margin: 0px 3px;
    font-size: .9em;
    color: white;
}

.login{
    text-align: right;
}

/* JUMBOTRON */

#hero-section{
    background: url('../img/jumbo.png') no-repeat;
    background-size: cover;
}

.jumbotron .row{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 500px;
}

.jumbotron .row .jumbotron-container{
    width: 60%;
}

.jumbotron-cta{
    padding: 30px 0px;
}

/* MAIN */



/* FOOTER */

footer{
    padding: 30px 0px;
}

.footer-menu{
    margin-bottom: 40px;
}

.footer-bottom .row{
    border-top: 1px solid #9a9a9a;
    justify-content: space-between;
}